<div class="home_container">
    <h1>君なら出来る！！広場へようこそ</h1>
    <p>ここは不安な方々に勇気を与えるサイトです。</p>
    <div class="home_content">
        <div class="home_left">
            <img src="good.JPG">
        </div>
        <div class="home_right">
            <p>←左のガッツポーズを見て下さい。何だか力が漲ってきませんか？</p>
            <p>そうです！！！その通りなんです！！！</p>
            <p>勇気なんてたった一つの出来事で簡単に身につくものなんです！！！</p>
            <p>さぁ、このサイトで悩みを書き出し、「できる！」ボタンをたくさん押してもらいましょう！！</p>
            <a href="#">新規登録</a>
            <a href="#">ログイン</a>
        </div>
    </div>
</div>