<div class="home_container">
    <h1>君なら出来る！！広場へようこそ</h1>
    <p>ここは不安な方々に勇気を与えるサイトです。</p>
    <div class="home_content">
        <div class="home_left">
            <img src="good.JPG">
        </div>
        <div class="home_right">
            <p>できるんだ！！</p>
        </div>
    </div>
</div>