<div class="home_container">
    <h1>さぁ、みんなに勇気を与えよう！！できる！！できる！！</h1>
    <div class="post_contents">
        <% @posts.each do |post| %>
            <div class="post_content">
                <%= post.content %>
            </div>
        <% end %>
    </div>
</div>