// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home_container{
    background-color:rgba($color: #ff3333, $alpha: 0.9);
    width: 100%;
    min-height: 100%;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

.home_content{
    padding-top:50px ;
    width: 60%;
    margin:0 auto;
}

.home_left,.home_right{
    width: 50%;
    float: left;
    font-size: 28px;
}

.home_right{
    padding: 20px;
}

.home_right a{
    margin: 10px;
    display: inline-block;
    background-color: white;
    width: 50%;
    color: rgba($color: #74ddeb, $alpha: 1.0);
}

.home_left img{
    height: 100%;
    width: 100%;
}
